:root {
    --pad: 0.4rem;
    --font: 1rem
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

h3 {
    font-size: x-large;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;  
}

header {
    background-color: rgb(94, 138, 203);
    font-size: var(--font);
}

main {
    display: grid;
    justify-self: center;
}

.grid-col-span-2 {
    grid-column: span 2;
}

footer {
    background-color:  rgb(94, 138, 203);
    font-size: var(--font);
}

input {
    background-color: rgb(76, 76, 204);
    color:black;
    border-radius: 50px;
    border: var(--pad) solid black;;
    padding: var(--pad) var(--pad);
    font-weight: 100;
    font-size: var(--font);
    margin: var(--pad);
    transition: all 0.1s;
}

input.active {
  background-color: #8e86ba;
  border-color: rgb(107, 102, 102);
}


.textInput {
    background-color: white;
}

.center {
    align-items: center;
}

.gap {
    gap: 2rem;
}

th {
    padding: var(--pad) var(--pad); 
    text-align: left;  
}

td {
    padding: var(--pad) var(--pad); 
    text-align: left;  
}

.table-scroll {
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
}